.skills{
    display: flex;
    justify-content: center;
    margin: 22px 0 22px 0;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

.skills-tittle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
    
}

.skills-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 22px 0 ;
    padding: 8px;
    

}

.skills-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 118px;
    background: #FFFFFF;
    
}

.skills-box li{
    margin-top: 12px;
}

@media screen and (min-width: 767px) {
    .skills-box{
        margin: 10px

    }

    .skills-line{
        justify-content: space-around;
    }
}