.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
}

.menu nav li{
    font-size: 14px;
    font-weight: 400;
}

.menu__tittle{
    margin-left: 1rem;
}

.menu__list{
    display: none;
}

@media screen and (min-width: 1023px) {
    .menu nav ul.menu__list{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        width: 600px;
    }

    .menu-list-item-c{
        display: none;
    }


}