.hobbies-section{
    display: flex;
    justify-content: center;
    margin: 22px 0 22px 0;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

.section-tittle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
    
}

.hobbies-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 22px 0 ;
    padding: 8px;

}

.hobbies-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 118px;
    background: #FFFFFF;
    margin: 2px;
    
}

.hobbies-box li{
    margin-top: 12px;
}

@media screen and (min-width: 767px) {
    .hobbies-box{
        margin: 10px

    }
    .hobbies-line{
        justify-content: space-around;
    }

}

@media screen and (min-width: 1023px) {
    .hobbies-box{
        margin: 10px

    }

}