body {
    box-sizing: border-box;
    background-color: #F5F5F5;
    cursor: pointer;
    font-family: 'Raleway';
    margin: 0 2px 0 2px;
    padding: 0;
    line-height: 1;
    width: 100vw;
}


ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}